    <div class="addCategory">
        <div class="form-group">
            <label for="categoryinp">Category:</label> <input type="text" id="categoryinp" class="form-control"
                value="" />
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Icon: <span id="selectIconPlaceholder">None</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu drodown-category" id="categoryIcons">
                    <li><a data-value="">None</a></li>
                </ul>
            </div>
        </div>
        <div class="form-group checkbox">
            <label for="addunassignedtlds"><input type="checkbox" id="addunassignedtlds" value="1" /> Add all unassigned
                TLDs</label>
        </div>
    </div>