.cnic-custom-badge-success {
    background-color: #5cb85c; /* Bootstrap success color */
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.cnic-custom-badge-warning {
    background-color: #f0ad4e; /* Bootstrap warning color */
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

#cnicDomainModalLabel {
    font-size: 1.2em;
    font-weight: bold;
}

.cnic-text-small {
    font-size: 0.9em;
}
